/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #00aeff #ffffff00;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F8FAFC;
    color: #001F3F;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 5px;
}

.headingAnchor {
    text-decoration: none;
    color: #356290;
    transition: color 0.3s ease;
}

a:hover {
    color: #529dec;
}

header {
    background-color: #99aec6;
    color: #424f5b;
    padding: 2rem;
    text-align: center;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
}

header nav {
    margin-top: 1rem;
}

header nav a {
    font-size: 1.1rem;
    margin: 0 1rem;
    font-weight: 600;
}

header nav a:hover {
    color: #eaeaea;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.toc-container {
    flex: 0 0 250px;
    position: sticky;
    top: 20px;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-right: 2rem;
    max-height: 80vh;
    overflow-y: auto;
}

.toc-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.toc-container ul {
    list-style-type: none;
}

.toc-container ul li {
    margin: 0.5rem 0;
}

.toc-container ul li a {
    font-size: 1.1rem;
    color: #007bff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.toc-container ul li a:hover {
    color: #0056b3;
}

article {
    flex: 1;
    max-width: 800px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

article h2 {
    font-size: 2rem;
    color: #227b94;
    margin-bottom: 1rem;
}

article h3,
article h4 {
    font-size: 1.4rem;
    color: #78B7D0;
    margin-top: 1rem;
    font-family: sans-serif;
    font-weight: 900;
}

article p {
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: -0.8rem;
    padding-bottom: -1rem;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.01);
}

.custom-player-container {
    width: 100%;
    max-width: 800px;
    margin: 1.5rem auto;
    position: relative;
    background-color: #000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 15px 24px 36px -6px rgba(0, 0, 0, 0.41);
}

.custom-player {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
}

button,
.progress-bar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    color: #92c6ff;
}

.progress-bar {
    flex-grow: 1;
    margin: 0 10px;
    background-color: #e4e4e4;
    border-radius: 5px;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.theme-toggle button {
    background-color: #fff;
    border: 2px solid #007bff;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle button:hover {
    background-color: #007bff;
    color: #fff;
}

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #007bff;
    color: #fff;
}

/* Dark Theme */
body.dark {
    background-color: #0b0b0b;
    color: #f1f1f1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark header {
    background-color: #171717;
    color: #f1f1f1;
}

body.dark .theme-toggle button {
    background-color: #000000;
    border-color: #ccc;
}

body.dark .toc-container {
    background-color: #020202;
    color: #fff;
}

body.dark article {
    background-color: transparent;
    color: #f1f1f1;
}

body.dark a {
    color: #66ccff;
}

/* Media Queries */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        padding: 1rem;
    }

    .toc-container {
        position: static;
        margin-bottom: 2rem;
        max-height: none;
        width: 100%;
    }

    article {
        max-width: 100%;
    }

    header h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .theme-toggle button {
        padding: 8px 16px;
        font-size: 1rem;
    }
}
